.radio-container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background-color: #eee;
    border: solid calc(var(--annimation-selector-border-size) / 2) var(--border-color);
    border-radius: 10px;
    /* background: linear-gradient(255.53deg, #FFC700 9.2%, #3600A8 90.88%); */
}


/* On mouse-over, add a grey background color */

.radio-container:hover input~.radio-checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.radio-container input:checked~.radio-checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.radio-checkmark:after {
    position: absolute;
    display: none;
    margin: 0;
}


/* the mdi icon in the checkmark */

.radio-checkmark span {
    color: white;
    text-align: center;
}


/* Show the checkmark when checked */

.radio-container input:checked~.radio-checkmark:after {
    display: block;
    content: "";
}


/* Style the checkmark/indicator */

.radio-container .radio-checkmark:after {
    top: calc(var(--annimation-selector-border-size) * -1);
    left: calc(var(--annimation-selector-border-size) * -1);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: crimson solid 5px
    /* border: solid var(--annimation-selector-border-size) var(--border-color); */
}