[Unit]
Description=Programme du Tableu LED

[Service]
User=root
WorkingDirectory=/home/pi/tableau-led/src
ExecStart=/home/pi/tableau-led/src/matrix ./gifs/loading.gif ./gifs/5.gif ./gifs/1.gif ./gifs/2.gif ./gifs/3.gif ./gifs/4.gif ./gifs/diapo3,4.gif ./gifs/diapo5,6,7.gif ./gifs/diapo8.gif ./gifs/diapo11,12.gif ./gifs/diapo9.gif
Restart=always

[Install]
WantedBy=multi-user.target
