[Unit]
Description=Server LED Matrix

[Service]
User=root
WorkingDirectory=/home/pi/tableau-led/src
ExecStart=/bin/node /home/pi/tableau-led/server/server.js
Restart=always

[Install]
WantedBy=multi-user.target
